.container-fluid {
  background-image: url(img/Header-llustration-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

i {
  color: blue;
}

.porfolios {
  display: flex;
  justify-content: space-around;
}

.about-me-cards {
  display: flex;
  justify-content: space-around;
}

.card-img-top {
  height: 25vh;
}