
.head-cont {
  background-image: url(img/Header-llustration-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

section {
  margin: 8%;
}

.about-me-cards {
  display: flex;
  justify-content: space-around;
}

.card-img-top {
  height: 25vh;
}

.row>* {
  padding-right: 0;
  padding-left: 0;
}

.card-link {
  text-decoration: none;
}

.Ame-card {
  background-image: url("img/bgholder.png");
  background-position: center;
  background-size: cover;
}

.AboutMe {
  background-image: url(img/aboutmebtleft.png) ;
  background-image: url(img/aboutmetopright.png);
  background-repeat: no-repeat;
}